.red { color: $red-color-1; }
.white { color: $white-color; }
.bg-red { background-color: $red-color-1; }
.bg-blue { background-color: $blue-color-1; }

.gd-green-blue { background: $gradient-1; }
.gd-gray { background: $gradient-2; }
.gd-orange { background: $gradient-3; }
.gd-blue {background: $gradient-4; }