aside.logo {
    background-color: $bg-dark-color;
}

aside.logo a {
    display: block;
    padding: 22px 15px;
}

aside.logo img {
    width: 100%;
}

@media(max-width: $width-sm-max) {
    aside.logo {
        display: flex;
        justify-content: center;
    }

    aside.logo img {
        padding: 0px 15px;
        width: $width-sidebar;
    }
}